.cart{
    min-height: calc(100vh - 56px );   
    color: rgb(102, 101, 101);
    font-family: 'montserrat-semi-bold';  
}
.cart-wrapper{
    margin-top: 3rem;
    position: relative;

}
.card-container{
  
}


.order-container{
    position: sticky;
    bottom: 1rem;
    z-index: 3;
    padding: 0 !important;
}
.order-card{
    border: 1px solid var(--bg-dark);
    background-color: rgb(252, 252, 252);
    box-shadow: 1px 0px 10px #918f8f;
    /* height:5rem; */
    max-width: 600px;
    font-size: .8rem;
    margin: 0 auto;
}

.order-amount span{
    color: orangered;
}
@media (max-width:576px){
    .cart{
        width: 375px;
        margin: 0 auto;
    }
}