.cart{
    min-height: calc(100vh - 56px );   
    color: rgb(102, 101, 101);
    font-family: 'montserrat-semi-bold';  
}
.cart-wrapper{
    margin-top: 3rem;
    position: relative;
    /* display: flex; */
    /* gap: 2rem; */
  
}
.card-container{
  
}


.order-container{
  
   /* position: relative; */
       width: 100%;
}
.order-card{
    border: 1px solid var(--bg-dark);
    border-radius: 5px;
    background-color: rgb(253, 249, 249);
    box-shadow: 1px 0px 15px #161616;
    position: sticky;
    bottom: 1rem;
    z-index: 3;
    height:10rem;

}