nav {
    font-family: 'montserrat-semi-bold';
    background-color: var(--color-primary);
    /* background-color: whitesmoke; */
    /* background: linear-gradient(to left, rgb(202, 202, 204), rgb(67, 102, 98)); */
 
    
}
.spacer{
    height: 56px;
    transition: height 0.3s ease-in-out;
}

.show-spacer {
    height: 176px;
    transition: height 0.3s ease-in-out;
} 
.admin-show-spacer {
    height: 216px;
    transition: height 0.3s ease-in-out;
} 

.my-cart{
    position: relative;
    margin-right: .4rem;

}
.dropdown-menu a{
    font-size: .8rem;
}
.dropdown-menu a:hover{
color:white;
background-color: var(--color-primary);

}
.cart-count{
    position: absolute;
    background-color: rgba(255, 166, 0, 0.808);
    top: 0;
    right:-.2rem;
    font-size: 0.6rem;
    max-width: 2rem;
    text-align: center;
    border-radius: 3px;
    padding: 0 .2rem;
    
}
@media (min-width: 767px){
    .show-spacer {
        height: 56px;
    }  
    .admin-show-spacer {
        height: 56px;
    } 
  
}
@media (max-width: 767px){
      .cart-count{
        left:2.4rem;
       
    }
}