.loading-wrapper{
    /* background-color: rgb(0, 0,0 ,.1); */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.loading {
    width: 15rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px #565657;
    border-radius: 2px;
    padding: 1rem;
    background-color: white;
    border: 2px solid var(--color-secondary);
    outline: 2px solid white;
    color: var(--color-secondary);
}
.spinner-border{
 
    margin-right: .6rem;
    border-color: var(--color-secondary) !important;
    border-right-color: white !important;
}